<div *ngIf="showSpinner" class="spinner-box">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>
<section class="web_homePage" (scroll)="onWindowScroll($event);">
  <div class="row"  id="navbar">
    <div class="left-box">
      <div class="logo">
        <img src="assets/images/header/reverse.svg" alt="logo">
      </div>
    </div>
      <div *ngIf="isLogged" class="btn-logout" (click)="toggleButton()" [ngClass]="{'background-btn' : hide}">
        <span>{{userInitial.firstName}}{{userInitial.lastName}}</span>
      </div>
      <div *ngIf="hide" class="drop-down">
        <span>Account</span>
        <span (click)="logout()">Log Out</span>
      </div>
    <div class="right-box">
      <button *ngIf="!isLogged" class="lang-btn" id="btn">Francais</button>
    </div>
  </div>
</section>


