
.container-general {

  .left-part {
    min-height: 900px;
    height: 100%;
    justify-content: flex-start;
    position: relative;

    .stepper {
      max-width: 695px;
      height: 100px;
      position: fixed;
      top: 10px;
      z-index: 1000;
      right: 40%;
      margin-left: 200px;

      @media screen and(max-width: 1080px){
        display: none;
      }

      .step {
        width: 170px;
        display: inline-block;
        float: left;
        padding: 0 5px;

        .step-desc {
          color: #4D4D4D;
          font-family: Rubik, sans-serif;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.2px;
          line-height: 14px;
        }

        .line {
          width: 100%;
          height: 8px;
          background-color: #393939;
        }
      }
    }

    .content {
      position: relative;
      width: 65%;
      margin-left: 13%;

      @media screen and(max-width: 1080px){
        margin: 0 auto;

        @media screen and(max-width: 1080px){
          width: 90%;
        }
      }
    }
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #C9C9C9 !important;
  }

  ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: #C9C9C9 !important;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }


  .right-part {

    @media screen and(max-width: 580px) {
      display: none;
    }
  }
}

.save-btn {
  position: fixed;
  right: 22px;
  z-index: 2222;
  top: 18px;
  width: 95px;
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  height: 27px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  background: rgba(0, 178, 116, 0);
  outline: none;
  cursor: pointer;

  &:hover {
    border-color: #ffffff;
    background: #9a9a9a;
  }

  @media screen and(max-width: 580px) {
    border: 1px solid rgba(255,0,0,0.72);
    color: rgba(255,0,0,0.72);
  }
}

.sticky {
  background: #FFFFFF;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  transition: 0.3s;
  z-index: 99;
}

.red-lang {
  border: 1px solid rgba(255,0,0,0.72)!important;
  color: rgba(255,0,0,0.72)!important;
}
.alert {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  padding: 0;
  margin-bottom: 0;
  border: none;
  max-width: 65%;
}

.toggle-alert {
  top: 80px;
  height: auto;
  overflow: visible;
  transition: 0.3s;
  z-index: 700;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
}


//personal-info===================================================


.form-container {

  position: relative;
  z-index: 36;
  margin-top: 150px;
  -webkit-animation: fade-onresize1 0.6s ease-in-out;

  @media screen and(max-width: 765px) {
    margin-top: 100px !important;
  }

  input {
    padding-bottom: 0;
    font-family: 'Montserrat', sans-serif;
  }


  mat-form-field {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  select, mat-select {
    padding-bottom: 0;
    font-family: Montserrat, sans-serif;
  }

  @media screen and(max-width: 580px) {
    margin-top: 150px;
  }

  .container-padding {
    padding: 20px;

    @media screen and(max-width: 580px) {
      padding: 0;
    }
  }

  .contact-info-desc {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  h1 {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }

  .login-desc {
    margin: 20px 0;
    font-family: 'Rubik', sans-serif;
    display: block;
  }

  .button {
    display: flex;
    justify-content: center;

    @media screen and(max-width: 900px) {
      flex-direction: column;
    }

    .sign-in-btn {
      border-radius: 100px;
      height: 56px;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 1.07px;
      background: #00B274;
      width: 271px;
      margin: 25px 0;
      outline: none;
    }
  }

  .mat-datepicker {
    width: 200px;
  }

  .calendar-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
  }

  .toggle-btn-piker {
    position: absolute;
    top: -33px;
    right: 2px;
  }

  .dropdown-container {
    position: absolute;
    padding-top: 15px;
    background: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media screen and(max-width: 765px) {
      position: relative;
    }

    .item-name {
      background-color: #EEEEEE;
      padding: 10px;
      display: flex;
      margin: 5px;
      align-items: center;
      color: #767676;
      font-size: 12px;

      span {
        padding-right: 10px;
      }

      img {
        cursor: pointer;
      }

    }
    .dropdown {
      position: relative;
      font-weight: 600;
      color: #434343;
      font-family: Montserrat, sans-serif;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      img {
        margin-left: 140px;
      }
    }
  }

  .dropdownContHack {
    position: relative;
    margin-top: 0;
  }




  .gender-box {
    margin-top: 20px!important;
  }

.selection-box > option {
  background: rgba(0,0,0,.12);
  cursor: pointer;
  padding: 10px 0;
}

  .trigger {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 9px;

    @media screen and(max-width: 1410px) {
      right: -10px;
      @media screen and(max-width: 580px) {
        right: 0;
      }
    }

  }

  .agree-box {
    padding-left: 20px;

    a {
      font-weight: 600;
      color: #D02139;
    }

    span {
      padding-left: 20px;
    }

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
      opacity: 0.03 !important;
      background-color: #00B274!important;
    }

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #00B274!important;
    }
  }

  .toggle-dropdown {
    display: block;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;

    .back-to-apps-btn {
      height: 56px;
      width: 291px;
      border: 2px solid #393939;
      border-radius: 100px;
      background: rgba(0, 41, 255, 0);
      color: #393939;
      font-family: Rubik, sans-serif;
      font-weight: 600;
    }

    .continue-btn {
      height: 56px;
      width: 191px;
      border-radius: 100px;
      background: #00B274;
      color: #FFFFFF;
      font-family: Rubik, sans-serif;
      font-weight: 600;

      @media screen and(max-width: 580px) {
        width: 291px;
      }
    }

    @media screen and(max-width: 580px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

::ng-deep.mat-chip-list-wrapper {
  position: absolute;
  top: 22px;
}
::ng-deep.mat-standard-chip {
  border-radius: 0!important;
}
.right-part {

  @media screen and(max-width: 580px) {
    margin-top: 310px;
  }

  .title_button-box {

    @media screen and(max-width: 580px) {
      margin-top: 50px;
    }
  }
}

::ng-deep.mat-select-arrow {
  color: #D02139;
  margin-top: -10px!important;
}

::ng-deep.mat-form-field-type-mat-native-select .mat-form-field-infix::after {
  color: #D02139;
}

::ng-deep.mat-form-field-flex {
  padding-left: 10px;
}
::ng-deep.mat-select-value {
  color: #434343!important;
  font-family: Montserrat, sans-serif!important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  color: #434343;
  font-family: Montserrat, sans-serif!important;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #D02139!important;
}
//==================================================================================
//Uploader===========================================================================
.box {
  position: relative;
  z-index: 23;
  -webkit-animation: fade-onresize1 0.6s ease-in-out;

  @media screen and(max-width: 580px) {
    margin-top: 50px;
  }

}
.box-drop {
  border: 2px solid #D02139;
  border-style: dashed;
  position: relative;

  .info-drop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      padding-right: 10px;
    }
    a {
      font-weight: 600;
      color: #D02139;
    }
  }
}
.line-block {
  border-bottom: 1px solid rgba(154, 154, 154, 0.58);
  padding: 0 20px;

  @media screen and(max-width: 580px) {
    padding: 0;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 20px;

  .back-to-apps-btn {
    height: 56px;
    width: 172px;
    border: 2px solid #393939;
    border-radius: 100px;
    background: rgba(0, 41, 255, 0);
    color: #393939;
    font-family: Rubik, sans-serif;
    font-weight: 600;
    @media screen and(max-width: 580px) {
      width: 100%;
    }

    &:hover {
      background-color: #393939;
      color: #FFFFFF;
    }
  }

  .continue-btn-upload {
    height: 56px;
    width: 200px;
    border-radius: 100px;
    background: #E4E4E4;
    color: #767676;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    @media screen and(max-width: 580px) {
      width: 100%;
    }
  }

  @media screen and(max-width: 580px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.toggle-container {
  width: 100%;
  padding: 0 20px;
}

.hiddenFileInput > input{
  height: 100px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  border-radius: 5px;
  background-color: #EEEEEE;
}
.preview-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  @media screen and(max-width: 770px) {
    flex-direction: column;
  }

  img {
    cursor: pointer;
  }

  .download-socan {

    a {
      padding-left: 10px;
    }

  }

  .upload-file {
    span {
      padding-right: 10px;
    }
  }

  span.no-file {
    text-align: center;
    padding-right: 30px;
    font-size: 14px;
    opacity: 0.3;
  }
}

.hiddenFileInput {
  box-sizing: border-box;
  height: 82px;
  width: 703px;
  overflow: hidden;
  position: relative;

}
.progress-container {
  width: 100%;
  position: relative;
  padding: 0 25px;

  span {
    position: absolute;
    top: -20px;
  }

  .done-icon {
    position: absolute;
    top: -20px;
    left: 0;
  }

  .delete-icon {
    position: absolute;
    top: -20px;
    right: 0;
    cursor: pointer;
  }
}
.progress{
  border-radius: 100px;
  height: 2px;
  margin: 40px 0 10px 0;


  .line-done {
    display: inline-block;
    height: 2px;
    background-color: #3454F6;
  }
}

.description-container {
  max-width: 560px;
}
@-webkit-keyframes fade-onresize1 { from { opacity: 0; } to { opacity: 1; }}

.spinner-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(54, 255, 49, 0.03);
  z-index: 1000;
}

:host ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #00B274;
}
