
.container-general {
  width: 100%;
  padding-right: 40%;

  @media screen and(max-width: 580px) {
    padding-right: 0;
  }

  .left-part {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .big-oval {
      height: 514px;
      width: 514px;
      background: linear-gradient(257.56deg, rgba(255,255,255,0.32) 0%, #E4E4E4 100%);
      border-radius: 100%;
      opacity: 0.3;
      position: absolute;
      right: 0;
      top: -300px;
      z-index: 2
    }

    .small-oval {
      height: 189px;
      width: 189px;
      border-radius: 100%;
      opacity: 0.3;
      position: absolute;
      right: 162px;
      top: 62px;
      z-index: 1;
      background: linear-gradient(180deg, #B9B9B9 0%, rgba(181,181,181,0.92) 19.94%, rgba(131,131,131,0.05) 100%);
    }

    .bottom-oval {
      height: 380px;
      width: 380px;
      opacity: 0.17;
      border-radius: 100%;
      position: fixed;
      left: -50px;
      bottom: -80px;
      background: linear-gradient(0deg, #B9B9B9 0%, rgba(181, 181, 181, 0.92) 19.94%, rgba(131, 131, 131, 0.05) 100%);
    }

    .form-container {
      margin-left: 20%;
      margin-right: 20%;
      z-index: 35;

      @media screen and(max-width: 765px){
        margin-top: 180px;

        @media screen and(max-width: 580px){
          margin-top: 600px;
        }
      }

      h1 {
        margin: 20px 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
      }

      .login-desc {
        margin: 20px 0;
        font-family: 'Rubik', sans-serif;
        display: block;
      }

      .button {
        display: flex;
        justify-content: center;

        .sign-in-btn {
          border-radius: 100px;
          height: 56px;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 1.07px;
          background: #00B274;
          width: 271px;
          margin: 25px 0;
          outline: none;
        }
      }

      mat-form-field {
        width: 100%;
      }

        input {
          padding-bottom: 10px;
          margin-top: 10px;
          border-bottom: #C9C9C9;
          color: #434343;
          padding-left: 10px;
          font-family: Roboto,"Helvetica Neue",sans-serif;
        }

      .radio-btn-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #9a9a9a;
        margin-top: 20px;

        @media screen and(max-width: 1428px){
          flex-direction: column;
        }

        .flex-radio-box {
          display: flex;
          flex-direction: column;
        }

        .radio-btns {
          padding-left: 15%;

          @media screen and(max-width: 1428px){
            padding-left: 0;
          }
        }
      }

    }

    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: #C9C9C9 !important;
    }

    ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
      background-color: #C9C9C9 !important;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }

    .form-element {
      padding-left: 10px;
      padding-right: 10px;

      @media screen and(max-width: 760px){
        padding: 0;
      }
    }

    .password-toggle-btn {
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0,178,116,0);
      flex-direction: row-reverse;
      color:  #9a9a9a;

      span {
        padding-left: 5px;
      }
    }

    .thanks-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 400px;
      text-align: center;
      margin-top: 50px;

      .request {
        font-size: 14px;
        font-weight: 600;

        a {
          color: #D02139;
          cursor: pointer;
        }
      }
    }

    .confirmed-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 450px;
      text-align: center;
      margin-top: 50px;

      .request {
        max-width: 300px;

        a {
          color: #D02139;
          cursor: pointer;
          font-weight: 600;
        }
      }
    }

  }
  .right-part {
    width: 40%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    background-image: url("../../../assets/images/login/man.png");
    background-size: cover;


    @media screen and(max-width: 580px) {
      position: relative;
      width: 100%;
      margin-top: 550px;
      height: 300px;
    }

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }

    .title_button-box {
      width: 300px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      @media screen and(max-width: 580px) {
        margin-top: 50px;
      }

      h1 {
        height: 80px;
        color: #FFFFFF;
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        text-align: center;
      }

      .sign-up-btn {
        width: 200px;
        margin-top: 10px;
        border-radius: 100px;
        height: 56px;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1.07px;
        outline: none;

        &:hover {
          background: #9a9a9a;
        }
      }
    }
  }
}
.col-md-4, .col-md-6 {
  padding: 0;
}
.extra-space1 {
  padding-right: 5px;
}
.extra-space2 {
  padding-left: 5px;
}
