  <div *ngIf="togglePage" class="form-container" [@simpleFadeAnimation]="'in'">
    <form enctype="multipart/form-data" [formGroup]="form" (ngSubmit)="onSubmit()" class="form" >
      <h3>Music Creator Application</h3>
      <h1>Personal Information</h1>
      <span class="login-desc">Please provide some additional profile information to start your application:</span>
      <span class="contact-info-desc"> Personal Information</span>
      <div class="container-padding">
        <div class="row">
          <div class="col-md-6 extra-space3">
            <mat-form-field>
              <input matInput
                     placeholder="First Name"
                     formControlName="firstName">
              <mat-error *ngIf="validateFirstName()">
                Field cannot be empty
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6 extra-space4">

            <mat-form-field>
              <input matInput
                     placeholder="Add Pseudonyms (Optional)"
                     class="dropdown">
              <img class="trigger" src="assets/images/login/add.png" (click)="toggleDropdown()">
              <div *ngIf="visibleDropdown" class="dropdown-container">
                <div *ngFor="let item of helperName" class="item-name">
                  <span>{{item.name}}</span>
                  <div class='delete-item' (click)="deleteItem(item.id)">
                    <img src="/assets/images/login/remove.png" height="16" width="16"/></div>
                </div>
              </div>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6  extra-space3">
            <mat-form-field>
              <input matInput
                     placeholder="First Name"
                     formControlName="firstName">
              <mat-error *ngIf="validateFirstName()">
                Field cannot be empty
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6  extra-space3">
            <mat-form-field class="mat-datepicker">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" md-select-on-focus>
              <mat-datepicker-toggle matSuffix [for]="picker" class="toggle-btn-piker">
                <mat-icon matDatepickerToggleIcon>
                  <div class="calendar-icon"  style="background-image: url('assets/images/login/calendar-icon.png')"></div>
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <span class="contact-info-desc">Contact Information</span>
      <div class="container-padding">
        <div class="row">
          <div class="col-md-6 extra-space3">
            <mat-form-field>
              <mat-label>Select your car</mat-label>
              <select matNativeControl id="mySelectId">
                <option value="" disabled selected></option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-md-6 extra-space4">
            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="email box">
          <mat-form-field>
            <input matInput
                   placeholder="Email Address">
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-6 extra-space3">
            <mat-form-field>
              <input matInput
                     placeholder="Password"
                     autocomplete="off"
                     maxlength="16"
                     [type]="hide ? 'password' : 'text'"
                     class="form-group"
                     formControlName="password">
            </mat-form-field>
          </div>
          <div class="col-md-6 extra-space4">
            <mat-form-field>
              <input matInput
                     placeholder="Repeat Password"
                     class="form-group">
              <mat-error *ngIf="form.hasError('notSame')">
                Passwords do not match
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="agree-box">
        <mat-checkbox></mat-checkbox>
        <span>I agree to SOCAN's <a>Terms & Conditions</a> of Membership.</span>
      </div>
      <div class="btn-container">
        <button [routerLink]="['/main']" class="back-to-apps-btn">Back to Application Type</button>
        <button [routerLink]="['/main/creator/uploader']" class="continue-btn">Continue</button>
      </div>
    </form>

  </div>



