<div class="container-general"  [@simpleFadeAnimation]="'in'">
  <div *ngIf="false" class="spinner-box">
    <mat-spinner></mat-spinner>
  </div>
  <div class="left-part">
    <div class="big-oval"></div>
    <div class="small-oval"></div>
    <div class="bottom-oval"></div>
    <div class="content">
      <div class="description-container">
        <h3>Welcome, Jonh Smith</h3>
        <h1>Select Application Type</h1>
        <p>To complete your registration, please select an application type below.
          Join SOCAN Membership Portal as:</p>
      </div>
      <div class="row">
        <div class="col-md-3 card">
          <img src="assets/images/login/pen.svg" alt="pen" class="pen-img">
          <div class="titles">
            <span>Music</span>
            <span>Creator</span>
          </div>
          <div class="descriptions">
            <span>Songwriter / </span>
            <span>Composer / Lyricist</span>
          </div>
          <button type="button" class="continue-btn" [routerLink]="['/main/creator/personal']">Continue</button>
        </div>
        <div class="col-md-3 card">
          <img src="assets/images/login/melody.svg" alt="melody">
          <div class="titles">
            <span>Music</span>
            <span>Publisher</span>
          </div>
          <div class="descriptions">
            <span>Self-Publisher / </span>
            <span>Publishing Company</span>
          </div>
          <button type="button" class="continue-btn">Continue</button>
        </div>
        <div class="col-md-3 card">
          <img src="assets/images/login/disk.svg" alt="round">
          <div class="titles">
            <span>Authorized</span>
            <span>Representative</span>
          </div>
          <div class="descriptions">
            <span>Representative of one</span>
            <span> or more Music Creator</span>
          </div>
          <button type="button" class="continue-btn">Continue</button>
        </div>
      </div>
    </div>
  </div>
  <div class="right-part" style="background-image: url('assets/images/login/black-men.png')">
  </div>
</div>
